.Assento {
    width: 26px;
    height: 26px;
    border-radius: 12px;


    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 11px;
    color: #000000;
    font-weight: 400;

    margin-left: 7px;
    margin-bottom: 18px;
}


.disponivel{
    background: #C3CFD9;
    border: 1px solid #808F9D;
}


.selecionado{
    background: #8DD7CF;
    border: 1px solid #1AAE9E;
    
}

.indisponivel{
    background: #FBE192;
    border: 1px solid #F7C52B;
} 