body * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --cor-laranja: #E8833A;
    --cor-cinza-header: #C3CFD9;
    --cor-azul-marinho: #293845;
    --cor-cinza-footer: #9EADBA;
}